    <div class="w3-col l10 m12" style="margin-top:100px; margin-left: 100px">
        <div id='login'>
            <button id="btnLogin" type="button" onclick="login()" class="btn btn-primary btn-sm login_button">
                Login With Metamask
            </button>
        </div>
    </div>


<div class="container" style="margin-top: 150px; margin-left: 100px">
    <button style="background: none; border: 0px; color: rgb(0, 255, 221); font-size:30px" onclick="openPlay()"> <i class="fa fa-play"></i> Chơi </button>
    </br>
    <button style="background: none; border: 0px; color:  rgb(0, 255, 221); font-size:30px" onclick="openCollection()"> <i class="fa fa-shopping-bag"></i> Bộ sưu tập</button>
    </br>
    <button style="background: none; border: 0px; color:  rgb(0, 255, 221); font-size:30px" onclick="openShop()"> <i class="fa fa-shopping-cart"></i> Cửa hàng</button>
    </br>
    <button style="background: none; border: 0px; color:  rgb(0, 255, 221); font-size:30px"  onclick="openAttend()"><i class="fa fa-file"> </i> Điểm danh</button>
    </br>
    <button style="background: none; border: 0px; color:  rgb(0, 255, 221); font-size:30px" onclick="openHelp()"><i class="fa fa-bookmark"> </i> Hướng dẫn</button>
</div>

<dialog id="dPlay" style="position: absolute; top: 0px; width: 80%">
    <div class="row" id="rPlay1"></div>
    <div class="row" id="rPlay2"></div>
    <div class="row" id="rPlay3"></div>
    <div class="row" id="rPlay4"></div>
    <div class="row" id="rPlay5"></div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <button type="button" class="btn btn-success" id="btX" onclick="calculator()">Xong</button>
        </div>
    </div>
</dialog>
<dialog id="dCollection" style="position: absolute; top: 50px; width: 80%">
    <div class='container'>
        <div class="row" style="display-inline">
            <h5>Bộ sưu tập</h5>
            <button onclick="closeAll()" style="width: auto;">close</button>
        </div>
        <div class="row" id="rCollection">
        </div>
    </div>
</dialog>
<dialog id="dShop" style="position: absolute; top: 50px; width: 80%">
    <div class='container'>
        <div class="row" style="display-inline">
            <h5>Cửa hàng</h5>
            <button onclick="closeAll()" style="width: auto;">close</button>
        </div>
        <div class="row" id="rShop">
        </div>
    </div>
</dialog>
<dialog id="dAttend" style="position: absolute; top: 100px; width: 70%">
    <div class="container">
        <div class="row">
            <div style="text-align: center">
                <h5 id="timeRemaining"></h5>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center;" id="btAttend">
                <button type="button" class="btn btn-primary" style="width: auto; margin-top:100px" onclick="closeAll()">OK</button>
            </div>
        </div>
    </div>
</dialog>
<dialog id="dHelp" style="position: absolute; top: 50px; width: 60%">
    <div class="container">
        <div class="row">
            <h5>Mua thẻ bài: Cửa hàng <i class="fa fa-arrow-right"></i> lựa chọn thẻ bài <i class="fa fa-arrow-right"></i> mua <i class="fa fa-arrow-right"></i> thanh toán</h5>
        </div>
        <div class="row">
            <h5>Chơi</h5>
            <lu>Cách chơi:</lu>
            <li>Lựu chọn trạng thái công hoặc thủ</li>
            <li>Sắp xếp thứ tự</li>
            <lu>Quy tắc</lu>
            <li>So sánh theo thứ tự đã sắp xếp</li>
            <li>Trường hợp 1: công - công
                <ol>
                    <li>điểm atk cao hơn <i class="fa fa-arrow-right"></i> thắng</li>
                    <li>điểm atk bằng <i class="fa fa-arrow-right"></i> hoà</li>
                </ol>
            <li>Trường hợp 2: công - thủ
                <ol>
                    <li>điểm atk(công) cao hơn def(thủ) <i class="fa fa-arrow-right"></i> công thắng</li>
                    <li>điểm def(thủ) cao hơn atk(công) <i class="fa fa-arrow-right"></i> thủ thắng</li>
                    <li>điểm atk(công) và def(thủ) bằng nhau <i class="fa fa-arrow-right"></i> hoà</li>
                </ol>
            <li>Trường hợp 3: thủ - thủ  
                <ol>
                    <li>điểm atk thấp hơn <i class="fa fa-arrow-right"></i> thắng</li>
                    <li>điểm def bằng <i class="fa fa-arrow-right"></i> hoà</li>
                </ol>
        </div>
        <div class="row">
            <div style="text-align: center;">
                <button type="button" class="btn btn-primary" style="width: auto; margin-top:100px" onclick="closeHelp()">OK</button>
            </div>
        </div>
    </div>
</dialog>

<script>
    function openHelp(){
        var t = document.getElementById('dHelp');
        t.show();
    }
    function closeHelp(){
        document.getElementById('dHelp').close();
    }
</script>